.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-quest{
    background-color: var(--fundo-secundario);
    text-align: center;
    width: 940px;
}

.login-logo{
    width: 15%;
}

.login-title{
    font-size: 35px;
    color: var(--borda-cinza);
}

.login-subtitle{
    font-size: 25px;
    font-weight: bolder;
    font-style: italic;
    color: var(--borda-cinza);
}

.login-cards{
    display: flex;
    justify-content: center;
    gap: 80px;
}


